.git
.vscode
node_modules
dist
coverage

SERVER_STABLE
FRONT-4
FinalProject_Specs

*.log
package-lock.json
apps/api/package-lock.json
frontend/package-lock.json
openapi.yaml
CHECKLIST.txt
DEPLOYED_URL.txt
VIDEO_LINK.txt
**/Dockerfile
*.ps1
